/* reset css */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background: linear-gradient(120deg, #298089, #8e44ad);
}

.form-container{
    margin-left: 250px;
    position: absolute;
    background-color: salmon;
}

.form-container h2{
    text-align: center;
}

.form-container .num_field{
    padding: 10px;
    text-align: center;
}

.form-container .num_field input{
    border: none;
    background: none;
    border-bottom: 2px solid black;
}